$background: #1d1e1f;
$contrast: #292b2c;

.firstpage {
  display: flex;
  flex-direction: rows;
  height: 100%;
}

.firstpage--leftside {
  position: relative;
  width: 30%;
  height: 100%;
  background: $background;
  border-right: 1pt solid $background;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;

  .avatar-container {
    height: 30%;
    margin: 10%;

    border-bottom: 1pt solid $contrast;
    flex-grow: 0;
    display: flex;
    flex-direction: column;

    .avatar {
      width: 100%;

      box-sizing: border-box;
      border-radius: 50%;
      border: 10px solid $contrast;
    }

    .name {
      display: flex;
      flex-grow: 1;
      align-items: center;
      color: white;

      font-size: 150%;
    }
  }

  .skillprogress-container {
    display: block;
    flex-grow: 1;
    margin: 0 5% 0 7%;
  }

  .contact-container {
    background: white;
  }
}

.firstpage--rightside {
  width: 70%;
}

@media print {
  .progress {
    height: 18pt !important;
  }
}

.progress {
  position: relative;
  width: 100%;
  height: 15pt;
  margin-top: 5%;
  background: white;

  .static-size-1 {
    width: 45%;
  }

  .static-size-2 {
    width: 18.5%;
  }

  .clear-text {
    box-sizing: border-box;
    background: white;
    padding: 0 2pt;
    margin-left: -2pt;
    width: 100%;
    white-space: nowrap;
    border: 1pt solid $contrast;
  }

  .center-text {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    font-size: 0.5rem;
  }

  .language {
    left: -2.5%;
  }

  .percentage {
    right: 0.5%;
  }
}

.progress-arrow {
  height: 100%;
}

.arrow-head {
  position: 50;
  width: 0;
  height: 0;
  border-top: 50% solid transparent;
  border-bottom: 50% solid transparent;

  border-left: 50% solid green;
}

.contact {
  display: flex;
  flex-direction: column;

  .type {
    display: inline;
    border-bottom: 1px solid $contrast;
  }

  .text {
    font-size: 0.75rem;
  }
}
