body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: #333;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.papers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding: 0;
}

.page {
  width: calc(100 / 31 * 21vh);
  height: calc(100 / 31 * 29.7vh);
  margin: calc(100 / 62 * 1vh) calc(100 / 62 * 1vh);
  border: 1px #d3d3d3 solid;

  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.printButton {
  position: fixed;
  right: 1vw;
  bottom: 1vh;

  background: #fff;
  cursor: pointer;
  outline: none;
  font-size: 1em;
}

@page {
  size: A4;
  margin: 0;
}

@media print {
  .page {
    margin: 0;
    border: initial;
    border-radius: initial;
    width: initial;
    min-height: initial;
    box-shadow: initial;
    background: initial;
    page-break-after: always;
  }

  .printButton {
    display: none;
  }
}
